.modal-box {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  border-radius: 1rem;
  
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.modal-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--black);
}

.modal-close {
  height: 30px;
}

.modal-title, 
.modal-description {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

.modal-title {
  color: var(--black);
  font-weight: 600;
  font-size: 1.95em;
}

.modal-description {
  color: var(--black);
  font-weight: 500;
  font-size: 1.43em;
}

.modal-video {
  height: 60vh;
  width: 80%;
}

@media (min-width: 1100px) {
  .modal-container {
    max-width: 1000px;
  }
}

@media (max-height: 800px) and (max-width: 1400px) {
  .modal-container {
    max-width: 730px;
  }
}

@media (max-height: 700px) and (max-width: 1280px) {
  .modal-container {
    max-width: 630px;
  }
}

@media (max-height: 340px) and (max-width: 780px) {
  .modal-container {
    max-width: 400px;
  }
}