#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.base{
  background-color: hsla(33, 100%, 98%, 0.95);
  border-radius: 1em;
  min-height: 80vh;
  min-width: 90vw;
  padding: var(--padding);
}

.navbar{
  display: flex;
  align-items: center;
  gap: 2em;
  height: 4.6em;
  margin-bottom: 1.5em;
  border-radius: 0.5em;  
  box-shadow: var(--box-shadow);  
}

.radio{  
  min-width: 9em;
  max-width: 10em;    
  margin-left: 1.2em;    
}

.radio .MuiRadio-root{  
  padding: 0.1em;  
}

.field__form{
  min-width: 15em;    
}

.grid{  
  border-radius: 0.5em;  
}

.radio__text{  
  color: rgb(6, 53, 100);    
}

.MuiFormControlLabel-label{
  margin-left: 0.3em;
}

.MuiDataGrid-root * {  
  border-color: var(--gray) !important;
}