#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.base{
  background-color: rgb(238, 246, 255);
  border-radius: 10px;
  min-height: 80vh;
  min-width: 90vw;
  padding: var(--padding);
}

.radio{
  width: 15%;
  height: fit-content;  
}

.select{
  width: 30%;
  height: fit-content;     
}

.select >:first-child{
  margin: 13px 0;  
}

.grid{  
  min-width: 100%;    
  margin-top: var(--gap);  
}

.radio__text{
  color: rgb(6, 53, 100);
}
